# You may want to customise this file depending on your Operating System
# and the editor that you use.
#
# We recommend that you use a Global Gitignore for files that are not related
# to the project. (https://help.github.com/articles/ignoring-files/#create-a-global-gitignore)

# OS
#
# Ref: https://github.com/github/gitignore/blob/master/Global/macOS.gitignore
# Ref: https://github.com/github/gitignore/blob/master/Global/Windows.gitignore
# Ref: https://github.com/github/gitignore/blob/master/Global/Linux.gitignore
.DS_STORE
Thumbs.db

# Editors
#
# Ref: https://github.com/github/gitignore/blob/master/Global
# Ref: https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore
.idea



EncodingRepairer/.gradle/*
EncodingRepairer/.idea/*
EncodingRepairer/gradle/*
EncodingRepairer/out/*
EncodingRepairer/build/*
UnitimeDataParser/.gradle/*
UnitimeDataParser/.idea/*
UnitimeDataParser/gradle/*
UnitimeDataParser/out/*
UnitimeDataParser/build/*
connection/.gradle/*
connection/.idea/*
connection/gradle/*
connection/out/*
connection/build/*

UnitimeDataParser/.idea/workspace.xml
UnitimeDataParser/build/classes/main/toXmlParser/BuildingsAndRooms.class
UnitimeDataParser/build/classes/main/Main.class
UnitimeDataParser/build/classes/main/toXmlParser/SubjectAreas.class
UnitimeDataParser/build/classes/main/toXmlParser/sessionsetup/TimeDatePatterns.class
UnitimeDataParser/build/classes/main/toXmlParser/sessionsetup/ExaminationPeriods.class
UnitimeDataParser/build/classes/main/toXmlParser/sessionsetup/AcademicSessionSetup.class
UnitimeDataParser/build/classes/main/toXmlParser/Departments.class
UnitimeDataParser/build/classes/main/toXmlParser/CourseCatalog.class
UnitimeDataParser/build/classes/main/toXmlParser/BuildingsAndRooms.class
UnitimeDataParser/build/classes/main/toXmlParser/AcademicSessionSetup.class
UnitimeDataParser/build/classes/main/parserUtility/ParserUtility.class
UnitimeDataParser/build/classes/main/Main.class
UnitimeDataParser/.idea/workspace.xml
UnitimeDataParser/.idea/modules/UnitimeDataParser_test.iml
UnitimeDataParser/.idea/modules/UnitimeDataParser_main.iml
UnitimeDataParser/.idea/modules/UnitimeDataParser.iml
UnitimeDataParser/.idea/modules.xml
UnitimeDataParser/.idea/gradle.xml
Tunniplaan.db
test/repairer/encoding-repairer-1.jar
test/andmed/TUNNIPLAAN/TUNNIPLAAN.R_VARUSTUS.csv
UnitimeDataParser/.idea/gradle.xml
UnitimeDataParser/build/classes/main/toXmlParser/SubjectAreas.class
UnitimeDataParser/test/directoryConfirmTest.xml
UnitimeDataParser/test/directoryCreationTest.xml
UnitimeDataParser/test/fileCreationTest.xml
UnitimeDataParser/test/indentAmountTest.xml
